<html>
    <head>
        <title>My Seminar Project </title>
    </head>

    <style>

        body {
            font-family: Arial, Helvetica, sans-serif; 
        }

    </style>

    <body>

        <h1>SEMINAR PROJECT DEMO</h1>

        <img src="/static/figure.png" alt="Chart"> 

        <br />

        <form method="post">
            <label>X Inputs:</label><br>
            <input type="text" id="xinput" name="xinput" placeholder="1 2 3..."><br><br>
            <label>Y Inputs:</label><br>
            <input type="text" id="yinput" name="yinput" placeholder="1 2 3..."><br><br>
            <button type="submit"> Submit </button>
        </form>

    </body>
</html>